logging:
  config: classpath:log4j2.xml
server:
  port: 8181
spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
#  db-package:
#    schema: dev_app
  profiles:
    active:
    - default
---
spring:
  profiles: ssh
  ssh:
    username: qi.yang
    keyFile: D:/cygwin64/home/YangQ/.ssh/id_rsa
    host: eavs01mntgp02.ssaform4641.net
    hostPort: 22
    remoteHost: eavs01dbp71.ssaform4641.net
    remotePort: 1522
---
spring:
  profiles: default
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:~/bookStoreDB
    username: sa
    password: 123
---
spring:
  profiles: remote
  datasource:
    driverClassName: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: dev
    password: 123
    pool-size: 30