<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="name">OnlineBookStore</property>
		<property name="logPath">\Logs</property>
		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-10.10t | %-20.20C:%-5.5L |%X{logID}| %msg%n</property>
		<!-- Pattern looks like: 2018-03-14 12:02:46.443 | DEBUG | tartStop-1 | ot.StartupInfoLogger:51    | Running with Spring Boot v1.5.10.RELEASE, Spring v4.3.14.RELEASE -->
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="RollingFile" fileName="${logPath}\${name}.log"
			filePattern="${logPath}\$${date:yyyy-MM}/${name}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="100 MB" /> <!-- Or every 100 MB -->
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>